.container_main {
    padding-left: calc(50% - ($widthContainerHeader / 2 - 90px));
    padding-right: calc(50% - ($widthContainerHeader / 2 - 90px));
}
.container {
    padding-left: calc(50% - ($widthContainerHeader / 2 - 56px));
    padding-right: calc(50% - ($widthContainerHeader / 2 - 56px));
}
.container_page{
    padding-left: calc(50% - ($widthContainerHeader / 2 - 128px));
    padding-right: calc(50% - ($widthContainerHeader / 2 - 128px));
}



.section__subtitle{
    color: $colorTitleSubtitle;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    opacity: 0.5;
    &_feedback{
        color: $colorBase;
    }
}
.section__title{
    color: $colorTitleSubtitle;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    span{
        color: $colorTitle;
    }
    &_feedback{
        color: $colorBase;
    }
}
.comeback{
    display: block;
    max-width: 200px;
    margin: 0 auto;
    color: $colorTitleSubtitle;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-decoration-line: underline;
    text-transform: uppercase;
    opacity: 0.5;
    
}
.menu{
    max-width: 766px;
    &__list {
        display: flex;
        gap: 43px;
    }
    
    &__link{
        color: $colorBase;
        font-size: 18px;
        font-weight: 400;
    }
    
}
.menu__footer{
    max-width: 766px;
    margin-top: 26px;
    .menu__list{
        gap: 0;
    }
    li:not(:last-child)::after{
        content: '\2022';
        width: 6px;
        height: 6px;
        color: $colorBase;
        padding: 0 18px;
    }
}
.menu_main{
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_link{
        color: $colorBase3;
    }
}
.social__block, .social__pages{
    display: flex;
    align-items: center;
    gap: 27px;
}
.social__pages_footer {
    margin-top: 19px;
}
.social__link{
    width: 26px;
    height: 26px;
}
.social__link_main path{
    fill: $colorBase3;
}
.callback{
    height: 45px;
    padding: 0 19px;
    border-radius: 13px;
    background: $colorBase;
    outline: none;
    border: none;
    cursor: pointer;
    color: $colorBase2;
    font-weight: 500;
    font-size: 18px;
}
.logo__big{
    margin-top: 48px;
    img{
        width: 308px;
        height: 113px;
    }
}
.logo_footer img{
    width: 264px;
    height: 74px;
}
.logo_main img{
    width: 220px;
    height: 81px;   
}


