.certificate{
    margin-top: 20px;
    &__content{
        padding: 25px 36px 33px 34px;
        @include bgBlock;
    }
    &__title{
        @include titleStyle;
        @include paddingBlockCertificate;
    }
    &__info{
        margin-top: 18px;
        @include paddingBlockCertificate;
        display: flex;
        gap: 33px;
    }
    &__img{
        width: 232px;
        height: 340px;
    }
    &__text{
        @include styleText3;
    }
    &__article_block{
        margin-top: 32px;
        border-radius: 10px;
        border: 2px solid $colorButton2;
        @include paddingBlockCertificate;
        article{
            padding: 28px 29px;
            @include styleText3;
        }   
    }
    &__order{
        margin-top: 49px;
        border-top: 1px solid rgba(196, 196, 196, 0.6);
        border-bottom: 1px solid rgba(196, 196, 196, 0.6);
        padding: 23px 10px 25px 12px;
        &_title{
            @include titleStyle;
        }
        &_items{
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &_item{
            @include bgBlock;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
        &_block{
            display: flex;
            gap: 24px;
        }
        &_info{
            padding-top: 17px;
            padding-bottom: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &_img{
            width: 265px;
            height: 160px;
            border-radius: 10px;
        }
        &_titles-title{
            @include itemTitleStyle;
        }
        &_titles-subtitle{
            margin-top: 9px;
            @include styleText3;
        }
        &_price{
            display: flex;
            align-items: center;
            gap: 21px;
            @include itemTitleStyle;
        }
        &_btn{
            display: block;
            margin-right: 26px;
            margin-bottom: 14px;
            width: 229px;
            padding: 11px 0;
            @include btn;
            color: $colorBase;
            text-align: justify;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
    }
    &__complect{
        margin-top: 25px;
        &_title{
            color: $colorTitleSubtitle;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        &_img{
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            width: 631px;
            height: 225px;   
            border-radius: 10px;   
        }
        &_block{
            margin-top: 32px;
            border-radius: 10px;
            border: 2px solid $colorButton2;
            @include paddingBlockCertificate;
            article{
                padding:30px 54px 27px 42px;
                @include styleText3;
            }   
        }
        &_list{
            margin-top: 10px;
            li{
                &::before{
                    content: '*';
                    padding-right: 4px;
                }
            }
        }
    }
    &__blockarticles{
        margin-top: 50px;
        &_items{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &_item{
            border-top: 1px solid rgba(196, 196, 196, 0.6);
            padding: 20px 10px 0;
            &-title{
                color: $colorTitleSubtitle;
                font-size: 24px;
                font-weight: 700;
            }
            &-descr{
                margin-top: 20px;
                @include styleText3;
            }
        }
    }
}