.contacts{
    margin-top: 29px;
    &__content{
        padding: 25px 46px 28px;
    }
    &__title, &__subtitle, &__subtitle-cart{
        @include titleStyle;
    }
    &__adress, &__numbers, &__numbers a, &__text {
        margin-top: 20px;
        @include styleText;
        span{
            @include styleSpanText;
        }
    }
    &__numbers{
        margin-top: 5px;
        
    }
    &__links{
        margin-top: 8px;
        display: flex;
        gap: 26px;
        &_skype, &_mail{
            display: flex;
            align-items: center; 
            gap: 6px;
            color: $colorText;
            text-align: justify;
            font-size: 14px;
            font-weight: 500;
        } 
    }
    &__subtitle{
        margin-top: 17px;
    }
    &__text{
        margin-top: 20px;
    }
    &__subtitle-cart{
        margin-top: 20px;
    }
}