.feedback {
    height: 903px;
    padding: 141px 36px 134px 36px;
    background: url(../../images/feedback_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.feedback_training{
    margin-top: 29px;
}
.feedback__slider {
    margin-top: 26px;
    &_wrapper {
        max-width: 1367px;
        min-height: 375px;
        margin: 0 auto;
        display: flex;
        gap: 58px;
    }
}
.feedback_slide {
    display: flex;
    flex-direction: column;
    gap: 14px;
    opacity: .25;
    padding: 29px 40px 30px;
    max-width: 501px;
    min-height: 375px;
    border-radius: 20px;
    background: $colorBase;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.06);
    &_img {
        display: block;
        margin: 0 auto;
        width: 160px;
        height: 160px;
        border-radius: 160px;
    }
    &_title {
        color: $colorBase3;
        text-align: justify;
        font-size: 28px;
        font-weight: 500;
        text-align: center;
    }
    &_descr {
        color: $colorBase3;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        opacity: 0.5;
    }
}


// .feedback_slide.act{
//     opacity: 1;
// }
// .feedback_slide.prev, .feedback_slide.next{
//     cursor: pointer;
// }
// .feedback_slide.prev {
//     transform: translateX(-220px) scale(.85);
// }
  
// .feedback_slide.next {
//     transform: translateX(220px) scale(.85);
// }
  
// .feedback_slide.hide {
//     transform: translateX(-420px) scale(.85);
// }
  
// .feedback_slide.new-next {
//     transform: translateX(420px) scale(.85);
// }
// .feedback_slide.hide, .feedback_slide.new-next {
//   opacity: 0;
//   transition: opacity .5s, transform .5s;
// }
// .swipe {
//     width: 270px;
//     height: 200px;
//     position: absolute;
//     background-color: green;
//     border-radius: 2px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     opacity: 0;
//   }